@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2{
    @apply text-4xl
  }
  .section {
    @apply max-w-screen-lg
  }
  @font-face {
    font-family: "Restora";
    font-weight: 400;
    src: local("RestoraExtraLight"),
    url("/public/fonts/RestoraExtraLight.otf") format("otf");
  }
}
