@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Restora";
  src: url("/src/ui/RestoraExtraLight.otf");
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-primary-rgb: 71, 102 , 131;
  --background-second-rgb: 161, 161, 161;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-second-rgb))
    )
    rgb(var(--background-primary-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
